.modal{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    left: 0;
    top: 0;
    transition: .5s;
    opacity: 0;
    pointer-events: none;
    align-items: center;
}

.active{
    opacity: 1;
    pointer-events:all;
}

.modal-content{
    width: 500px;
    height: 700px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.product-img{
    height: 200px;
    width: 180px;
}
 
.product-title{
    font-family:sans-serif ;
    font-size: 24px;
    font-weight: 500;
}

.product-price{
    font-family:sans-serif ;
    font-size: 20px;
    font-weight: 500;
}

.close-button{
    height: 35px;
    width: 35px;
    position: absolute;
    bottom: 80%;
    left: 60%;
}

.modal-text{
    height: 300px;
}