.search-input-wrapper{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input{
    width: 200px;
    height: 50px;
    border-radius: 15px ;
    text-align: center; 
    font-family: sans-serif; 
}

.search-button{
    width: 100px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    background-color: green;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 10px;
}