.table-row{
    justify-content: center;
    text-align: center;
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 50px;
}
.product-title{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 500;
}

.product-category{
    font-size: 20px;
    font-weight: 600;
    color: rgb(73, 72, 72);
}

img{
    height: 300px;
    width: 200px;
}